<div>
  <h1>Welcome to HelpDesk v2 Dashboard</h1>
  <p>Your one-stop solution for managing support tickets efficiently.</p>

  <!-- for log out -->
  <%= button_to "Logout", session_path, method: :delete %>>
</div>